svg .entity {
    cursor: pointer;
}
svg.mouseover-active > g > * {
	opacity: 0.2 !important;
}
svg.mouseover-active > g > g.mouseover-highlighted {
	opacity: 1.0 !important;
}
svg.click-active > g > * {
    opacity: 0.3;
}
svg.click-active > g > g.click-highlighted {
    opacity: 1.0;
}
