# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
/bin
#vscode files
**/bin/
/.vs

# Ant result file
plantuml.jar

# Maven target folder
target/

# Gradle build folders
/.gradle
build/

# Eclipse Project files
.settings/
.classpath
.project

# for jenv users
.java-version

# output of dev tests
/outputdev

*.patch
**/*.class
