# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out

# Ant result file
plantuml.jar

# Maven target folder
target/

# Gradle
# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build

# Eclipse Project files
.settings/
.classpath
.project

# for jenv users
.java-version
