name: Trigger release workflow in plantuml-eclipse project

on:
  # run this manually
  workflow_dispatch:

  # call this from another workflow_call:
  workflow_call:
    secrets:
      PLANTUML_ECLIPSE_DISPATCH_TOKEN:
        required: true
    inputs:
      pom-version:
        description: 'Released PlantUML version from pom.xml'
        required: true
        type: string
      git-ref:
        description: 'The git ref representing the new PlantUML release'
        required: true
        type: string
      snapshot:
        description: 'Whether the new PlantUML release is a SNAPSHOT / pre-release'
        required: true
        type: boolean

permissions:
  contents: write

jobs:
  trigger-workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger release workflow in plantuml-eclipse repo
        # see https://github.com/peter-evans/repository-dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.PLANTUML_ECLIPSE_DISPATCH_TOKEN }}
          repository: plantuml/plantuml-eclipse
          # custom event that is used to trigger the other workflow
          event-type: plantuml-release
          # payload with release event details
          client-payload: |-
            {
              "release": "${{ inputs.pom-version }}",
              "snapshot": "${{ inputs.snapshot }}",
              "ref": "${{ inputs.git-ref }}"
            }